@mixin hashtag-position-fix
	#hashtag
		@media (max-width: 767px)
			position: relative

/* hero default
.uw-hero-image
	.uw-site-title
		text-transform: none
	&.hero-heightjumbo
		#banner
			background: $uwGold
			color: $white
			display: inline-block
			@media (min-width: 992px)
				margin-left: -1rem
		.jumbo
			.transparent-overlay
				background: rgba($uwPurple, 0.9)
			h1,
			.jumbo-subhead
				background: none
		.btn
			margin-top: 20px
			@media (min-width: 992px)
				margin-left: -1rem
/* large hero title
.uw-hero-image,
.no-uw-hero-image
	&.hero-height
		h1
			&.uw-site-title
				text-transform: none
			@media (min-width: 768px)
				font-size: 60px
		@include hashtag-position-fix
/* small hero title
.hero-height2
	h1
		text-transform: none
	@include hashtag-position-fix
/* jumbo hero title
.uw-hero-image
	&.hero-heightjumbo
		.jumbo
			h1
				text-transform: none