$white:           #ffffff
$black:           #000000
$raisinblack:     #231f20
$onyx:            #373a3c
$granitegray:     #666666
$silver:          #c7c7c7
$platinum:        #dcdcde
$gainsboro:       #dddddd
$brightgray:      #eeeeee
$antiflashwhite:  #f0f0f0
$seasalt:         #fafafa
$uwHuskyPurple:   #32006e
$uwSpiritPurple:  #4b2e83
$uwCoyoteGold:	  #746041
$uwHeritageGold:  #85754d
$uwHuskyGold:     #b7a57a
$uwHuskyGoldLight:#e8e3d3
$uwSpiritGold:    #ffc700
$uwAccentGreen:   #aadb1e
$uwAccentTeal:    #2ad2c9
$uwAccentPink:    #e93cac
$uwAccentLavender:#c5b4e3
$smugmugGreen:    #6eb800

$EncodeSansCompressed:  "Encode Sans Compressed", sans-serif
