/* faculty home template
.entry-content
    &.entry-content-faculty
        .faculty-navigation
            margin-bottom: 0
        .faculty-pagination
            text-align: end
            white-space: nowrap
            overflow-x: auto
            .faculty-pagination-buttons
                display: grid
                grid-template-columns: 1fr
                grid-template-rows: 1fr 1fr
                @media (min-width: 1200px)
                    grid-template-columns: 1fr 1fr
                    grid-template-rows: 1fr
                .faculty-pagination-rank
                    text-align: initial
                .faculty-pagination-index
                    text-align: initial
                    @media (min-width: 1200px)
                        text-align: end
                a[id^="btn-faculty-"]
                    margin: 0 
            .faculty-list-status
                font-family: Encode Sans Compressed, sans-serif
                font-weight: 400
                font-size: 14px
                color: $granitegray
                padding: 3px 0
            &.faculty-pagination--centered
                text-align: center
        #btn-faculty-view-all
            &::after
                display: inline-block
                content: ""
                margin-right: 0.6rem
                padding-left: 1rem
                height: 1.875rem
                border-right: 1px solid $uwHuskyPurple
                transform: rotate(15deg)
                text-decoration: none
        section[aria-labelledby="faculty-listing"]
            padding: 0 20px
            margin: 0 -20px
            border: 1px solid $antiflashwhite
            background-color: $seasalt
