@mixin hashtag
	#hashtag
		position: absolute
		top: 0px
		font-family: $EncodeSansCompressed
		font-weight: 900
		color: $uwSpiritPurple
		font-size: 21px
		overflow: hidden
		z-index: 100
		margin-left: -1rem
		span
			background-color: rgba($white,0.9)
			-webkit-transform: skew(-15deg, 0)
			-ms-transform: skewX(-15deg) skewY(0)
			transform: skew(-15deg, 0)
			padding: 2px 25px 3px 28px
			display: block
			margin: 0 10px 0 -1rem
			span
				-webkit-transform: skew(15deg, 0)
				-ms-transform: skewX(15deg) skewY(0)
				transform: skew(15deg, 0)
				display: block
				background-color: transparent
@mixin hashtag-position-fix
	#hashtag
		@media (max-width: 767px)
			position: relative

/* hero default
.uw-hero-image
	.uw-site-title
		text-transform: none
	&.hero-heightjumbo
		#banner
			background: rgba($white, 0.9)
			color: $onyx
			display: inline-block
			font-weight: 600
			@media (min-width: 992px)
				margin-left: -1rem
		.jumbo
			.transparent-overlay
				background: rgba($uwSpiritPurple, 0.9)
			h1,
			.jumbo-subhead
				background: none
		.btn
			margin-top: 20px
			@media (min-width: 992px)
				margin-left: -1rem
		@include hashtag
		@include hashtag-position-fix
/* large hero title
.uw-hero-image,
.no-uw-hero-image
	&.hero-height
		h1
			&.uw-site-title
				text-transform: none
			@media (min-width: 768px)
				font-size: 60px
		@include hashtag-position-fix
/* small hero title
.hero-height2
	h1
		text-transform: none
	@include hashtag-position-fix
/* jumbo hero title
.uw-hero-image
	&.hero-heightjumbo
		.jumbo
			h1
				text-transform: none